<div class="container">
  <%= @posts.each do |post| %>
      <div class="post_list">
        <h2 class="title">

          <%= link_to post.title,post %>
        </h2><br>
        <h3 class="image">
          <%=image_tag post.image.url(:large) %>
        </h3>
      </div>


  <% end %>
</div>
